@charset "ISO-8859-1";

.blue {
	background-color: blue;
	height: 40px;
	width: auto;
}

button {
	margin: 10px;
	float: right;
	
}

.column {
	width: 10%;
	padding: 1%;
	float: left;
	background-color: blue;
}

.row {
	height: 5%;
	
}

.transcript {
	display: grid;
    grid-template-columns: 80px 200px auto;
}

.transcript_id {
	grid-column: 1;
}

.transcript_title {
	grid-column: 2;
}

.transcript_grade {
	grid-column: 3;
}